body {
    background: url("/img/11.jpg");
    animation-name: bg;
    animation-duration: 20s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;}
@keyframes bg
{
0%   {background: url("/img/11.jpg");}
34%  {background: url("/img/3.jpg");}
67%  {background: url("/img/33.jpg");}
100% {background: url("/img/11.jpg");}
}
.form{background: rgba(255,255, 255, 0.7);
    width: 200px;
    margin: 40px auto;}
.fa{display: inline-block;
    top: 5px;
    left: 2px;
    position: relative;
    color: #ccc;}
input[type="text"], input[type="password"] input[type="submit"] input[type="reset"]{backgroundpadding-left: 60px;}
.checkbox {padding-left: 40px;}